<br>
<section id="" class="section-padding">
    <div class="container">    
        <div class="row">
           
          <div class="col-sm-12"> 
          
            <mdb-card class="text-white mb-12" bgColor="bg-secondary">
              <div class="btn-group  waves-effect" role="group" aria-label="Basic example">
                <button mdbBtn size="md" type="button" color="unique" class="waves-light" mdbRadio="tabs"  (click)="menuTabs('tabs')" >Todos</button>
                <button mdbBtn size="md" type="button" color="unique" class="waves-light" mdbRadio="tabs"  (click)="menuTabs('tab1')" >Café</button>
                <button mdbBtn size="md" type="button" color="unique" class="waves-light" mdbRadio="tabs"  (click)="menuTabs('tab2')" >Pasteles</button>
                <button mdbBtn size="md" type="button" color="unique" class="waves-light" mdbRadio="tabs"  (click)="menuTabs('tab3')" >Almuerzos</button>
              </div>
              <ul class="list-group list-group-flush">
                <li id="tab1" class="list-group-item carta">                  
                  <div class="breakfast menu-restaurant">
                    <span class="clearfix">
                      <span class="menu-title">Cafe1</span> 
                      <span style="left: 166px; right: 44px;" class="menu-line"></span>
                      <span class="menu-price">$20.99</span>
                    </span>
                    <span class="menu-subtitle">Mejor cafe</span>
                  </div>
                  <div class="breakfast menu-restaurant">
                    <span class="clearfix">
                      <span class="menu-title">Cafe2</span> 
                      <span style="left: 166px; right: 44px;" class="menu-line"></span>
                      <span class="menu-price">$20.99</span>
                    </span>
                    <span class="menu-subtitle">Mejor cafe</span>
                  </div>
                  <div class="breakfast menu-restaurant">
                    <span class="clearfix">
                      <span class="menu-title">Cafe3</span> 
                      <span style="left: 166px; right: 44px;" class="menu-line"></span>
                      <span class="menu-price">$20.99</span>
                    </span>
                    <span class="menu-subtitle">Mejor cafe</span>
                  </div>
                  <div class="breakfast menu-restaurant">
                    <span class="clearfix">
                      <span class="menu-title">Cafe4  </span> 
                      <span style="left: 166px; right: 44px;" class="menu-line"></span>
                      <span class="menu-price">$20.99</span>
                    </span>
                    <span class="menu-subtitle">Mejor cafe</span>
                  </div>
                  <div class="breakfast menu-restaurant">
                    <span class="clearfix">
                      <span class="menu-title">Cafe5</span> 
                      <span style="left: 166px; right: 44px;" class="menu-line"></span>
                      <span class="menu-price">$20.99</span>
                    </span>
                    <span class="menu-subtitle">Mejor cafe</span>
                  </div>
                  <div class="breakfast menu-restaurant">
                    <span class="clearfix">
                      <span class="menu-title">Cafe6</span> 
                      <span style="left: 166px; right: 44px;" class="menu-line"></span>
                      <span class="menu-price">$20.99</span>
                    </span>
                    <span class="menu-subtitle">Mejor cafe</span>
                  </div>   
                </li>

                <li id="tab2" class="list-group-item carta">                  
                  <div class="breakfast menu-restaurant">
                    <span class="clearfix">
                      <span class="menu-title">Muffin</span> 
                      <span style="left: 166px; right: 44px;" class="menu-line"></span>
                      <span class="menu-price">$20.99</span>
                    </span>
                    <span class="menu-subtitle">Mejor cafe</span>
                  </div>
                  <div class="breakfast menu-restaurant">
                    <span class="clearfix">
                      <span class="menu-title">Berlín</span> 
                      <span style="left: 166px; right: 44px;" class="menu-line"></span>
                      <span class="menu-price">$20.99</span>
                    </span>
                    <span class="menu-subtitle">Mejor cafe</span>
                  </div>
                  <div class="breakfast menu-restaurant">
                    <span class="clearfix">
                      <span class="menu-title">Kuchen</span> 
                      <span style="left: 166px; right: 44px;" class="menu-line"></span>
                      <span class="menu-price">$20.99</span>
                    </span>
                    <span class="menu-subtitle">Mejor cafe</span>
                  </div>
                  <div class="breakfast menu-restaurant">
                    <span class="clearfix">
                      <span class="menu-title">Pie limon</span> 
                      <span style="left: 166px; right: 44px;" class="menu-line"></span>
                      <span class="menu-price">$20.99</span>
                    </span>
                    <span class="menu-subtitle">Mejor cafe</span>
                  </div>
                  <div class="breakfast menu-restaurant">
                    <span class="clearfix">
                      <span class="menu-title">Media luna</span> 
                      <span style="left: 166px; right: 44px;" class="menu-line"></span>
                      <span class="menu-price">$20.99</span>
                    </span>
                    <span class="menu-subtitle">Mejor cafe</span>
                  </div>
                  <div class="breakfast menu-restaurant">
                    <span class="clearfix">
                      <span class="menu-title">Empanada</span> 
                      <span style="left: 166px; right: 44px;" class="menu-line"></span>
                      <span class="menu-price">$20.99</span>
                    </span>
                    <span class="menu-subtitle">Mejor cafe</span>
                  </div>   
                </li>

                <li id="tab3" class="list-group-item carta">                  
                  <div class="breakfast menu-restaurant">
                    <span class="clearfix">
                      <span class="menu-title">Almuerzo 1</span> 
                      <span style="left: 166px; right: 44px;" class="menu-line"></span>
                      <span class="menu-price">$20.99</span>
                    </span>
                    <span class="menu-subtitle">Mejor cafe</span>
                  </div>
                  <div class="breakfast menu-restaurant">
                    <span class="clearfix">
                      <span class="menu-title">Almuerzo 2</span> 
                      <span style="left: 166px; right: 44px;" class="menu-line"></span>
                      <span class="menu-price">$20.99</span>
                    </span>
                    <span class="menu-subtitle">Mejor cafe</span>
                  </div>
                  <div class="breakfast menu-restaurant">
                    <span class="clearfix">
                      <span class="menu-title">Almuerzo 3</span> 
                      <span style="left: 166px; right: 44px;" class="menu-line"></span>
                      <span class="menu-price">$20.99</span>
                    </span>
                    <span class="menu-subtitle">Mejor cafe</span>
                  </div>
                  <div class="breakfast menu-restaurant">
                    <span class="clearfix">
                      <span class="menu-title">Almuerzo 4  </span> 
                      <span style="left: 166px; right: 44px;" class="menu-line"></span>
                      <span class="menu-price">$20.99</span>
                    </span>
                    <span class="menu-subtitle">Mejor cafe</span>
                  </div>
                  <div class="breakfast menu-restaurant">
                    <span class="clearfix">
                      <span class="menu-title">Almuerzo 5</span> 
                      <span style="left: 166px; right: 44px;" class="menu-line"></span>
                      <span class="menu-price">$20.99</span>
                    </span>
                    <span class="menu-subtitle">Mejor cafe</span>
                  </div>
                  <div class="breakfast menu-restaurant">
                    <span class="clearfix">
                      <span class="menu-title">Almuerzo 6</span> 
                      <span style="left: 166px; right: 44px;" class="menu-line"></span>
                      <span class="menu-price">$20.99</span>
                    </span>
                    <span class="menu-subtitle">Mejor cafe</span>
                  </div>   
                </li>

              </ul>
            </mdb-card> 

            

            

          </div>
        
        </div>
    </div>   
    </section>



  
