<br>
<section id="" class="section-padding">
<div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="header-h">Almuerzos</h1>
        <p class="header-p"></p>
      </div>
    </div>
    <div class="row">
      
      <!--lunes-->   
      <div class="col-md-3">     
        <mdb-card class="text-white mb-3" bgColor="bg-secondary">
          <mdb-card-body>
            <mdb-card-title>
              <h5 class="font-weight-bold mb-3">Lunes</h5>
            </mdb-card-title>
          </mdb-card-body>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="breakfast menu-restaurant">
                <span class="clearfix">
                  <span class="menu-title">Menu A</span>             
                </span>
                <span class="menu-subtitle">Entrada : Sopa a la crema</span>
                <span class="menu-subtitle">Plato de fondo : Pure con pescado</span>
                <span class="menu-subtitle">Ensalada : Lechuga/Tomate</span>
                <span class="menu-subtitle">Jugo / Bebida</span>
              </div>
            </li>
            <li class="list-group-item">
              <div class="breakfast menu-restaurant">
                <span class="clearfix">
                  <span class="menu-title">Menu B</span>             
                </span>
                <span class="menu-subtitle">Entrada : Sopa a la crema</span>
                <span class="menu-subtitle">Plato de fondo : Pure con pescado</span>
                <span class="menu-subtitle">Ensalada : Lechuga/Tomate</span>
                <span class="menu-subtitle">Jugo / Bebida</span>
              </div>
            </li>
          </ul>
        </mdb-card> 
      </div>

      <!--Martes--> 
      <div class="col-md-3">     
        <mdb-card class="text-white mb-3" bgColor="bg-secondary">
          <mdb-card-body>
            <mdb-card-title>
              <h5 class="font-weight-bold mb-3">Martes</h5>
            </mdb-card-title>
          </mdb-card-body>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="breakfast menu-restaurant">
                <span class="clearfix">
                  <span class="menu-title">Menu A</span>             
                </span>
                <span class="menu-subtitle">Entrada : Sopa a la crema</span>
                <span class="menu-subtitle">Plato de fondo : Pure con pescado</span>
                <span class="menu-subtitle">Ensalada : Lechuga/Tomate</span>
                <span class="menu-subtitle">Jugo / Bebida</span>
              </div>
            </li>
            <li class="list-group-item">
              <div class="breakfast menu-restaurant">
                <span class="clearfix">
                  <span class="menu-title">Menu B</span>             
                </span>
                <span class="menu-subtitle">Entrada : Sopa a la crema</span>
                <span class="menu-subtitle">Plato de fondo : Pure con pescado</span>
                <span class="menu-subtitle">Ensalada : Lechuga/Tomate</span>
                <span class="menu-subtitle">Jugo / Bebida</span>
              </div>
            </li>
          </ul>
        </mdb-card> 
      </div>

      <!--Miercoles--> 
      <div class="col-md-3">  
        <mdb-card class="text-white mb-3" bgColor="bg-secondary">
          <mdb-card-body>
            <mdb-card-title>
              <h5 class="font-weight-bold mb-3">Miércoles</h5>
            </mdb-card-title>
          </mdb-card-body>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="breakfast menu-restaurant">
                <span class="clearfix">
                  <span class="menu-title">Menu A</span>             
                </span>
                <span class="menu-subtitle">Entrada : Sopa a la crema</span>
                <span class="menu-subtitle">Plato de fondo : Pure con pescado</span>
                <span class="menu-subtitle">Ensalada : Lechuga/Tomate</span>
                <span class="menu-subtitle">Jugo / Bebida</span>
              </div>
            </li>
            <li class="list-group-item">
              <div class="breakfast menu-restaurant">
                <span class="clearfix">
                  <span class="menu-title">Menu B</span>             
                </span>
                <span class="menu-subtitle">Entrada : Sopa a la crema</span>
                <span class="menu-subtitle">Plato de fondo : Pure con pescado</span>
                <span class="menu-subtitle">Ensalada : Lechuga/Tomate</span>
                <span class="menu-subtitle">Jugo / Bebida</span>
              </div>
            </li>
          </ul>
        </mdb-card> 
      </div>

      <!--Jueves--> 
      <div class="col-md-3">      
        <mdb-card class="text-white mb-3" bgColor="bg-secondary">
          <mdb-card-body>
            <mdb-card-title>
              <h5 class="font-weight-bold mb-3">Jueves</h5>
            </mdb-card-title>
          </mdb-card-body>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="breakfast menu-restaurant">
                <span class="clearfix">
                  <span class="menu-title">Menu A</span>             
                </span>
                <span class="menu-subtitle">Entrada : Sopa a la crema</span>
                <span class="menu-subtitle">Plato de fondo : Pure con pescado</span>
                <span class="menu-subtitle">Ensalada : Lechuga/Tomate</span>
                <span class="menu-subtitle">Jugo / Bebida</span>
              </div>
            </li>
            <li class="list-group-item">
              <div class="breakfast menu-restaurant">
                <span class="clearfix">
                  <span class="menu-title">Menu B</span>             
                </span>
                <span class="menu-subtitle">Entrada : Sopa a la crema</span>
                <span class="menu-subtitle">Plato de fondo : Pure con pescado</span>
                <span class="menu-subtitle">Ensalada : Lechuga/Tomate</span>
                <span class="menu-subtitle">Jugo / Bebida</span>
              </div>
            </li>
          </ul>
        </mdb-card> 
      </div>

      <!--Viernes--> 
      <div class="col-md-3">     
        <mdb-card class="text-white mb-3" bgColor="bg-secondary">
          <mdb-card-body>
            <mdb-card-title>
              <h5 class="font-weight-bold mb-3">Viernes</h5>
            </mdb-card-title>
          </mdb-card-body>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="breakfast menu-restaurant">
                <span class="clearfix">
                  <span class="menu-title">Menu A</span>             
                </span>
                <span class="menu-subtitle">Entrada : Sopa a la crema</span>
                <span class="menu-subtitle">Plato de fondo : Pure con pescado</span>
                <span class="menu-subtitle">Ensalada : Lechuga/Tomate</span>
                <span class="menu-subtitle">Jugo / Bebida</span>
              </div>
            </li>
            <li class="list-group-item">
              <div class="breakfast menu-restaurant">
                <span class="clearfix">
                  <span class="menu-title">Menu B</span>             
                </span>
                <span class="menu-subtitle">Entrada : Sopa a la crema</span>
                <span class="menu-subtitle">Plato de fondo : Pure con pescado</span>
                <span class="menu-subtitle">Ensalada : Lechuga/Tomate</span>
                <span class="menu-subtitle">Jugo / Bebida</span>
              </div>
            </li>
          </ul>
        </mdb-card> 
      </div>

      <!--Sabado--> 
      <div class="col-md-3">               
        <mdb-card class="text-white mb-3" bgColor="bg-secondary">
          <mdb-card-body>
            <mdb-card-title>
              <h5 class="font-weight-bold mb-3">Sabado</h5>
            </mdb-card-title>
          </mdb-card-body>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="breakfast menu-restaurant">
                <span class="clearfix">
                  <span class="menu-title">Menu A</span>             
                </span>
                <span class="menu-subtitle">Entrada : Sopa a la crema</span>
                <span class="menu-subtitle">Plato de fondo : Pure con pescado</span>
                <span class="menu-subtitle">Ensalada : Lechuga/Tomate</span>
                <span class="menu-subtitle">Jugo / Bebida</span>
              </div>
            </li>
            <li class="list-group-item">
              <div class="breakfast menu-restaurant">
                <span class="clearfix">
                  <span class="menu-title">Menu B</span>             
                </span>
                <span class="menu-subtitle">Entrada : Sopa a la crema</span>
                <span class="menu-subtitle">Plato de fondo : Pure con pescado</span>
                <span class="menu-subtitle">Ensalada : Lechuga/Tomate</span>
                <span class="menu-subtitle">Jugo / Bebida</span>
              </div>
            </li>
          </ul>
        </mdb-card> 
      </div>

      <!--Domingo--> 
      <div class="col-md-3">               
        <mdb-card class="text-white mb-3" bgColor="bg-secondary">
          <mdb-card-body>
            <mdb-card-title>
              <h5 class="font-weight-bold mb-3">Domingo</h5>
            </mdb-card-title>
          </mdb-card-body>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="breakfast menu-restaurant">
                <span class="clearfix">
                  <span class="menu-title">Menu A</span>             
                </span>
                <span class="menu-subtitle">Entrada : Sopa a la crema</span>
                <span class="menu-subtitle">Plato de fondo : Pure con pescado</span>
                <span class="menu-subtitle">Ensalada : Lechuga/Tomate</span>
                <span class="menu-subtitle">Jugo / Bebida</span>
              </div>
            </li>
            <li class="list-group-item">
              <div class="breakfast menu-restaurant">
                <span class="clearfix">
                  <span class="menu-title">Menu B</span>             
                </span>
                <span class="menu-subtitle">Entrada : Sopa a la crema</span>
                <span class="menu-subtitle">Plato de fondo : Pure con pescado</span>
                <span class="menu-subtitle">Ensalada : Lechuga/Tomate</span>
                <span class="menu-subtitle">Jugo / Bebida</span>
              </div>
            </li>
          </ul>
        </mdb-card> 
      </div>

    </div>
</div>   
</section>
<br>


