  <!-- contact -->
  <section id="contact" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 text-center">
          <h1 class="header-h">Delivery</h1>
          <p class="header-p"></p>
        </div>
        <div class="col-md-3"></div>
      </div>
      <div class="row msg-row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="media-left">
                <div class="contact-phone bg-1 text-center"><span class="phone-in-talk fa fa-phone"></span></div>
              </div>
              <div class="media-body">
                <h4 class="media-title regular">Llamanos al tel&eacute;fono</h4>
                <p class="media-text regular alt-p">+56 953013634 - <span class="contacts-sp">Delivery</span></p>
              </div>
        </div>
        <div class="col-md-3"></div>
      </div>
      <div class="row msg-row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="media-left">
                <div class="contact-email bg-14 text-center"><span class="hour-icon fa fa-clock-o"></span></div>
              </div>
              <div class="media-body">
                <h4 class="media-title regular">Horario de atenci&oacute;n</h4>
                <p class="media-text regular alt-p"> Lunea a Jueves 07:30 - 21:00</p>
                <p class="media-text regular alt-p"> Viernes a Sabado 08:00 - 00:00</p>
              </div>
        </div>
        <div class="col-md-3"></div>
      </div>




     

    </div>
  </section>
  <!-- / contact -->