.media-title {
    font-size: 24px;
    margin-top: 0;
}
.media-text {
    font-size: 16px;
    margin-bottom: 1px;
}
.media-body {
    margin-left: 10px;
    padding-left: 13px;
}
.media-2 {
    margin-top: 30px;
}
.newinput .form-group {
    margin: 8px 0 9px !important;
    padding-bottom: 10px;
}
.contact-form .form-control {
    color: #000 !important;
    font-size: 16px;
    font-weight: normal;
    height: 38px;
    line-height: 1.42857;
    padding: 7px 0;
}

.contact-form {
    margin: 8px 0 9px !important;
    padding-bottom: 10px;
}
.contact-form textarea.form-control {
    color: #000 !important;
    height: auto;
}
.contacts-btn {
    background-color:  #FFB03B !important;
    color: #ffffff !important;
    width: 170px;
    height: 54px;
    border-radius: 3px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    text-transform: capitalize;
    border: 0px;
    color: #000 !important;
}

.phone-in-talk, .hour-icon
{
    font-size: 35px;
    line-height: 70px;
    color: rgb(255, 255, 255);
}