<!-- price -->
<br>
<div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="header-h">Lista de productos</h1>
        <p class="header-p"></p>
      </div>
    </div>
    <!--Cafe-->
    <div class="row">
        <div class="col-md-12">
          <div class="breakfast menu-restaurant">
            <span class="clearfix">
              <span class="menu-title">Expreso</span>             
            </span>
            <span class="menu-subtitle">Café Colombiano</span>
          </div>
          <div class="breakfast menu-restaurant">
              <span class="clearfix">
                <span class="menu-title">Capuchino</span>             
              </span>
              <span class="menu-subtitle">Café + Leche</span>
          </div>
          <div class="breakfast menu-restaurant">
              <span class="clearfix">
                <span class="menu-title">Mocachino</span>             
              </span>
              <span class="menu-subtitle">Café + Leche</span>
          </div>
          <div class="breakfast menu-restaurant">
              <span class="clearfix">
                <span class="menu-title">Cafe de Trigo</span>             
              </span>
              <span class="menu-subtitle">Café de trigo tostado artesanal</span>
            </div>  
        </div>
    </div>
    <!--Pasteles-->
    <div class="row">
        <div class="col-md-12">
          <div class="breakfast menu-restaurant">
            <span class="clearfix">
              <span class="menu-title">Belin</span>             
            </span>
            <span class="menu-subtitle">Manjar / Crema</span>
          </div>
          <div class="breakfast menu-restaurant">
              <span class="clearfix">
                <span class="menu-title">Chilenitos</span>             
              </span>
              <span class="menu-subtitle">Receta casera</span>
          </div>
          <div class="breakfast menu-restaurant">
              <span class="clearfix">
                <span class="menu-title">Cupcakes</span>             
              </span>
              <span class="menu-subtitle">Merengue / Chocolate</span>
          </div>
          <div class="breakfast menu-restaurant">
              <span class="clearfix">
                <span class="menu-title">Pie de limón</span>             
              </span>
              <span class="menu-subtitle">Reseta casera</span>
            </div>  
        </div>
    </div>
    
        <!--Pasteles-->
    <div class="row">
        <div class="col-md-12">
          <div class="breakfast menu-restaurant">
            <span class="clearfix">
              <span class="menu-title">Belin</span>             
            </span>
            <span class="menu-subtitle">Manjar / Crema</span>
          </div>
          <div class="breakfast menu-restaurant">
              <span class="clearfix">
                <span class="menu-title">Chilenitos</span>             
              </span>
              <span class="menu-subtitle">Receta casera</span>
          </div>
          <div class="breakfast menu-restaurant">
              <span class="clearfix">
                <span class="menu-title">Cupcakes</span>             
              </span>
              <span class="menu-subtitle">Merengue / Chocolate</span>
          </div>
          <div class="breakfast menu-restaurant">
              <span class="clearfix">
                <span class="menu-title">Pie de limón</span>             
              </span>
              <span class="menu-subtitle">Reseta casera</span>
            </div>  
        </div>
    </div>

    <!--Almuerzos-->
    <div class="row">
        <div class="col-md-12">
          <div class="breakfast menu-restaurant">
            <span class="clearfix">
              <span class="menu-title">Lunes</span>             
            </span>
            <span class="menu-subtitle">Manjar / Crema</span>
          </div>
          <div class="breakfast menu-restaurant">
              <span class="clearfix">
                <span class="menu-title">Chilenitos</span>             
              </span>
              <span class="menu-subtitle">Receta casera</span>
          </div>
          <div class="breakfast menu-restaurant">
              <span class="clearfix">
                <span class="menu-title">Cupcakes</span>             
              </span>
              <span class="menu-subtitle">Merengue / Chocolate</span>
          </div>
          <div class="breakfast menu-restaurant">
              <span class="clearfix">
                <span class="menu-title">Pie de limón</span>             
              </span>
              <span class="menu-subtitle">Reseta casera</span>
            </div>  
        </div>
    </div>    

  </div> 
  <!--/ price -->